@keyframes slide-right-to-left {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-left-to-right {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    body > header {
        padding: 0px;
        height: 128px;
    }

    nav {
        position: sticky;
        top: 128px;
        height: 128px;
    }

    nav.opened {
        display: flex;
        justify-content: left;
        padding: 10px;

        animation-name: slide-right-to-left;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }

    nav > ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    nav li:not(:last-child) ::after {
        content: "";
        border: 0;
        margin: 0px;
    }

    nav:not(.opened) {
        display: flex;

        animation-name: slide-left-to-right;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-play-state: running;
        animation-fill-mode: forwards;
    }

    main {
        position: relative;
        top: -128px;
    }
}