
/* -- Header -- */
body > header {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #cfcfcf;
}

body > header img {
    display: none;
}

nav {
    display: none;
}

#toggle-navigation {
    margin-left: auto;

    display: block;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* -- Main -- */
aside {
    display: none;
}

/* -- Footer -- */
body > footer img {
    display: none;
}

body > footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    border-top: 1px solid #000;
}

body > footer p {
    margin: 5px 0;
}

body > footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

body > footer li:not(:last-child) ::after {
    content: "";
    border-right: 1px solid #000;
    margin: 0px 10px;
}

/* -- Article -- */
article {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 10px;
}